.color-swatch {
  height: 48px; /* g(2) */
  padding: 0 12px; /* g(0.5) */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-outside);
}

.color-swatch__code {
  font-size: 18px;
  line-height: 24px; /* g(1) */
  letter-spacing: -0.3px;
}

@media (max-width: 938px) {
  .color-swatch {
    padding: 0 6px; /* Halverat från 12px */
  }
}

